body{
	font-family: 'Montserrat Alternates', sans-serif;
}
Header{
	background:white;
}
.pagina3{
	position: relative;
	 width: 940px;
	 margin: 0 auto;
}

nav{
position: absolute;
top: 110px;
right: 0px;

}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color: black;
	font-weight: bolder;
	text-decoration: none;
}
nav a:hover{
   color: purple;
   text-decoration: underline;
}
footer{
	text-align: center;
	background: white;
}
.copyright{
	color: black;
	font-size: 13px;
	margin-top: 20px;
}
main{
	width: 940px;
	margin: 0 auto;
}
form{
	margin: 40px 0;
}
form label , form p{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao{
	font-size: 15px;
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.box{
	margin: 20px 0;
}
.botao{
	font-size: 20px;
	width: 30%;
	padding: 15px 0;
	color: white;
	background: blue;
	border-style: none;
	border-radius: 20px;
	transition: 0.5s all;
	cursor: pointer;

}
.botao:hover{
	background: green;
	 transform: rotate(360deg) scale(1.2);
}
table{
margin: 40px 0 20px;

}